.form {
    width: 100%;
    font-family:Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
    max-width: 700px;
    margin: auto;
    z-index: 0;
    color:white;
}


.legendBtn, .legendInput  {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.btnStyle { 
    margin-top: 15px;
    min-width: 700px;
    height:60px; 
    font-size: 16px;
    cursor: pointer;
    color:white;
}

 
.btnLogin {
    background-color:rgb(40,210,208);
    
}

 