.sign {
    background-color: rgb(62,169,245);
    height:100vh;
}

.headerSign {
    padding-top:3%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.btnSing {
    padding: 10px 15px;
    color:white;
    border:1px solid rgba(255,255,255,0.77);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 18px;
    font-weight:600;
    background-color:transparent;
    text-decoration: none;
    cursor:pointer;
}

.btnSing:hover {
    background-color:rgb(40,210,208);
    
}

.Login {
    color:white;
    font-size: 30px;
    text-align: center;
    padding-top:4%;
}

a {
    text-decoration:none;
    color:white;
  
}

.Form {
    text-align:center;
    background-color: rgb(62,169,245);
    padding-bottom: 5%;
   
}

.private {
    font-size: 18px;
    font-weight:500;
}

 
