.form {
    width: 100%;
    font-family:Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
    max-width: 700px;
    margin: auto;
    z-index: 0;
    color:white;
}


.legendBtn, .legendInput  {
    display: flex;
    flex-direction: column;
    align-items:center;
}

@mixin btnStyle { 
    margin-top: 15px;
    min-width: 700px;
    height:60px; 
    font-size: 16px;
    cursor: pointer;
    color:white;
}

 
@mixin btnLogin {
    background-color:rgb(40,210,208);
    
}

@mixin btngoogle {
    display: flex;
    background-color:rgb(221,75,57);
    justify-content:center;
    align-items: center;
    text-align: center;
    height:50px;
}

.btnforgoggle {
    @include btngoogle;
    @include btnStyle;
}

.btnforlogin {
    @include btnLogin;
    @include btnStyle;
}



